{% extends 'common.html' %}

{% block Title %}About{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-6">
                <h2 class="featurette-heading">Привет, меня зовут Снежана, мне {{ age }}.<br> <br><span class="text-muted">В обычные дни я обучаю детей иностранным языкам,а в свободное время занимаюсь любимым делом <br>- миниатюрой.</span> <br> <br> </h2>
            </div>
            <div class="col-md-6">
                <img src="{{ image }}" width="auto" height="500">
            </div>
        </div>
        <div class="row">
            <p class="lead">У меня вы найдете комнаты размером с книгу. Мебель, которая помещается в ладони и множество крохотных мелочей для декора.
                   Все это - ручная работа. За исключением некоторой фурнитуры. Иногда я использую самые неожиданные материалы, но об этом вы узнаете в постах.
                   Мне интересен дизайн интерьера, однако мои решения в 18 раз меньше обычных.</p>
        </div>
    </div>

{% endblock %}