<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="card card-body bg-info">
                Навигация по сайту
            </div>
        </div>
        <div class="col-8">
            <div class="card card-body bg-primary">
                Контент
            </div>
        </div>
        <div class="col-1">
            <div class="card card-body bg-secondary">
                Реклама
            </div>
        </div>
    </div>
</div>
</body>
</html>