{% extends 'common.html' %}

{% block Title %}Sign Up{% endblock %}
{% block content %}



<div class="container">
{#  <div class="row justify-content-center">#}
  <div class="row justify-content-center" style="padding: 200px">
      <div class="col-6">
          <form class="form-signin text-center" method="post" action="reg">
              <h1 class="h3 mb-3 font-weight-normal">Please enter</h1>
              <label for="inputText" class="sr-only">Username</label>
              <input type="text" name="login" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
              <label for="inputFirstName" class="sr-only">First name</label>
              <input type="text" name="first_name" class="form-control" placeholder="First name" required>
              <label for="inputLastName" class="sr-only">Last name</label>
              <input type="text" name="last_name" class="form-control" placeholder="Last name" required>
              <label for="inputEmail" class="sr-only">Email</label>
              <input type="email" name="email" class="form-control" placeholder="email" required>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
          </form>
      </div>
  </div>
</div>


{% endblock %}


