{% extends 'common.html' %}
{% load i18n %}
{% block Title %} {% trans "Sign In" %}{% endblock %}
{% block content %}
<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Tiny room</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">{% trans "Home" %}
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{% trans "About" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{% trans "Services" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">{% trans "Contact" %}</a>
          </li>
          {% if user.is_authenticated %}
             <li class="nav-item">
                <a class="nav-link disabled">{% trans "Hello," %} {{ user.username }}!</a>
             </li>
              <li class="nav-item">
                <a class="nav-link"  href="log_out">{% trans "Log Out" %}</a>
             </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="sign_in">{% trans "Sign In" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>


<div class="container">
{#  <div class="row justify-content-center">#}
  <div class="row justify-content-center" style="padding: 200px">
      <div class="col-6">
          <form class="form-signin text-center" method="post" action="log_in">
              <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
              <label for="inputText" class="sr-only">Username</label>
              <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" name="password" class="form-control" placeholder="Password" required>
                  <div id="register-link" class="text-md-left">
                    <a href="sign_up" class="text-info">Register here</a>
                  </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </form>
      </div>
  </div>
</div>


{% endblock %}


